Accessing Data With Pandas

In [2]:
import pandas as pd
coffee=pd.read_csv("../warmup-data/coffee.csv")
print(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [7]:
display(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [8]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [9]:
coffee.head(10)

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35
5  Wednesday       Latte          25
6   Thursday    Espresso          40
7   Thursday       Latte          30
8     Friday    Espresso          45
9     Friday       Latte          35

In [10]:
coffee.tail(5)

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [13]:
coffee.sample(10)

          Day Coffee Type  Units Sold
5   Wednesday       Latte          25
10   Saturday    Espresso          45
9      Friday       Latte          35
0      Monday    Espresso          25
12     Sunday    Espresso          45
6    Thursday    Espresso          40
8      Friday    Espresso          45
3     Tuesday       Latte          20
1      Monday       Latte          15
11   Saturday       Latte          35

In [16]:
coffee.sample(10,random_state=1)

          Day Coffee Type  Units Sold
3     Tuesday       Latte          20
7    Thursday       Latte          30
6    Thursday    Espresso          40
2     Tuesday    Espresso          30
10   Saturday    Espresso          45
4   Wednesday    Espresso          35
1      Monday       Latte          15
12     Sunday    Espresso          45
0      Monday    Espresso          25
13     Sunday       Latte          35

In [17]:
coffee.loc[0]

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

In [21]:
coffee.loc[[0,1,5]]

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
5  Wednesday       Latte          25

In [23]:
coffee.loc[0:6]

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35
5  Wednesday       Latte          25
6   Thursday    Espresso          40

In [24]:
coffee.loc[5:]

          Day Coffee Type  Units Sold
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [25]:
coffee.loc[5:12]

          Day Coffee Type  Units Sold
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45

In [28]:
coffee.loc[:,["Day","Units Sold"]]

          Day  Units Sold
0      Monday          25
1      Monday          15
2     Tuesday          30
3     Tuesday          20
4   Wednesday          35
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

In [ ]:
# Error! iloc only accepts integers
# coffee.iloc[:,["Day","Units Sold"]] 

coffee.iloc[:,[0,2]]

          Day  Units Sold
0      Monday          25
1      Monday          15
2     Tuesday          30
3     Tuesday          20
4   Wednesday          35
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

In [ ]:
coffee.loc[1:10,"Units Sold"]=10

In [39]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          10
2     Tuesday    Espresso          10
3     Tuesday       Latte          10
4   Wednesday    Espresso          10
5   Wednesday       Latte          10
6    Thursday    Espresso          10
7    Thursday       Latte          10
8      Friday    Espresso          10
9      Friday       Latte          10
10   Saturday    Espresso          10
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [42]:
coffee.loc[12,"Units Sold"]=38
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          10
2     Tuesday    Espresso          10
3     Tuesday       Latte          10
4   Wednesday    Espresso          10
5   Wednesday       Latte          10
6    Thursday    Espresso          10
7    Thursday       Latte          10
8      Friday    Espresso          10
9      Friday       Latte          10
10   Saturday    Espresso          10
11   Saturday       Latte          35
12     Sunday    Espresso          38
13     Sunday       Latte          35

In [43]:
coffee.at[0,"Units Sold"]

np.int64(25)

In [48]:
# coffee.at[2:7,"Units Sold"]
coffee.iat[0,0]
coffee.iat[0,1]
coffee.iat[0,2]

np.int64(25)

In [49]:
coffee["Day"]

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: str

In [50]:
coffee.Day

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: str

In [51]:
coffee["Units Sold"]

0     25
1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    10
11    35
12    38
13    35
Name: Units Sold, dtype: int64

In [52]:
coffee["Units Sold"]>20

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
Name: Units Sold, dtype: bool

In [53]:
coffee.sort_values("Units Sold")

          Day Coffee Type  Units Sold
1      Monday       Latte          10
2     Tuesday    Espresso          10
3     Tuesday       Latte          10
4   Wednesday    Espresso          10
6    Thursday    Espresso          10
5   Wednesday       Latte          10
7    Thursday       Latte          10
8      Friday    Espresso          10
10   Saturday    Espresso          10
9      Friday       Latte          10
0      Monday    Espresso          25
11   Saturday       Latte          35
13     Sunday       Latte          35
12     Sunday    Espresso          38

In [54]:
coffee.sort_values("Units Sold",ascending=False)

          Day Coffee Type  Units Sold
12     Sunday    Espresso          38
11   Saturday       Latte          35
13     Sunday       Latte          35
0      Monday    Espresso          25
2     Tuesday    Espresso          10
1      Monday       Latte          10
5   Wednesday       Latte          10
4   Wednesday    Espresso          10
3     Tuesday       Latte          10
6    Thursday    Espresso          10
9      Friday       Latte          10
8      Friday    Espresso          10
7    Thursday       Latte          10
10   Saturday    Espresso          10

In [56]:
coffee.sort_values(["Units Sold","Coffee Type"],ascending=[False,True])

          Day Coffee Type  Units Sold
12     Sunday    Espresso          38
11   Saturday       Latte          35
13     Sunday       Latte          35
0      Monday    Espresso          25
2     Tuesday    Espresso          10
4   Wednesday    Espresso          10
6    Thursday    Espresso          10
8      Friday    Espresso          10
10   Saturday    Espresso          10
1      Monday       Latte          10
3     Tuesday       Latte          10
5   Wednesday       Latte          10
7    Thursday       Latte          10
9      Friday       Latte          10

In [3]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35