Iterating over DataFrames

In [3]:
import pandas as pd
coffee=pd.read_csv("../warmup-data/coffee.csv")
for index,row in coffee.iterrows():
    print(index)
    print(row)
    print("\n")

0
Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object


1
Day            Monday
Coffee Type     Latte
Units Sold         15
Name: 1, dtype: object


2
Day             Tuesday
Coffee Type    Espresso
Units Sold           30
Name: 2, dtype: object


3
Day            Tuesday
Coffee Type      Latte
Units Sold          20
Name: 3, dtype: object


4
Day            Wednesday
Coffee Type     Espresso
Units Sold            35
Name: 4, dtype: object


5
Day            Wednesday
Coffee Type        Latte
Units Sold            25
Name: 5, dtype: object


6
Day            Thursday
Coffee Type    Espresso
Units Sold           40
Name: 6, dtype: object


7
Day            Thursday
Coffee Type       Latte
Units Sold           30
Name: 7, dtype: object


8
Day              Friday
Coffee Type    Espresso
Units Sold           45
Name: 8, dtype: object


9
Day            Friday
Coffee Type     Latte
Units Sold         35
Name: 9, dtype: object


10
Day            Saturday
Coffee Type    Espresso
Units Sold           45
Name: 10, dtype: object


11
Day            Saturday
Coffee Type       Latte
Units Sold           35
Name: 11, dtype: object


12
Day              Sunday
Coffee Type    Espresso
Units Sold           45
Name: 12, dtype: object


13
Day            Sunday
Coffee Type     Latte
Units Sold         35
Name: 13, dtype: object