Filtering Data String

In [3]:
import pandas as pd
bios=pd.read_csv("../data/bios.csv")
bios

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [6]:
bios["name"].str.contains("Keith")

0         False
1         False
2         False
3         False
4         False
          ...
145495    False
145496    False
145497    False
145498    False
145499    False
Name: name, Length: 145500, dtype: bool

In [8]:
bios[bios["name"].str.contains("kEitH",case=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1897,1907,Keith Hanlon,1966-09-01,NaN,NaN,NaN,Ireland,NaN,NaN,NaN
3505,3517,Keith Wallace,1961-03-29,Preston,England,GBR,Great Britain,165.0,51.0,1999-12-31
6228,6255,Keith Hartley,1940-10-15,Vancouver,British Columbia,CAN,Canada,200.0,85.0,NaN
8898,8946,Keith Mwila,1966-01-01,NaN,NaN,NaN,Zambia,NaN,NaN,1993-01-09
12053,12118,Keith Hervey,1898-11-03,Fulham,England,GBR,Great Britain,NaN,NaN,1973-02-22
...,...,...,...,...,...,...,...,...,...,...
109900,111105,Keith Cumberpatch,1927-08-25,Christchurch,Canterbury,NZL,New Zealand,NaN,NaN,2013-11-15
115973,117348,Keith Sanderson,1975-02-02,Plymouth,Massachusetts,USA,United States,183.0,95.0,NaN
117676,119195,Duncan Keith,1983-07-16,Winnipeg,Manitoba,CAN,Canada,185.0,88.0,NaN
122121,124176,Keith Ferguson,1979-09-07,Sale,Victoria,AUS,Australia,176.0,78.0,NaN
127310,129749,Tracy Keith-Matchitt,1990-03-30,Palmerston North,Manawatu-Wanganui,NZL,Cook Islands,167.0,60.0,NaN

In [11]:
bios[bios["name"].str.contains("keith | Patrick",case=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1897,1907,Keith Hanlon,1966-09-01,NaN,NaN,NaN,Ireland,NaN,NaN,NaN
3505,3517,Keith Wallace,1961-03-29,Preston,England,GBR,Great Britain,165.0,51.0,1999-12-31
6228,6255,Keith Hartley,1940-10-15,Vancouver,British Columbia,CAN,Canada,200.0,85.0,NaN
8898,8946,Keith Mwila,1966-01-01,NaN,NaN,NaN,Zambia,NaN,NaN,1993-01-09
12053,12118,Keith Hervey,1898-11-03,Fulham,England,GBR,Great Britain,NaN,NaN,1973-02-22
...,...,...,...,...,...,...,...,...,...,...
109900,111105,Keith Cumberpatch,1927-08-25,Christchurch,Canterbury,NZL,New Zealand,NaN,NaN,2013-11-15
115973,117348,Keith Sanderson,1975-02-02,Plymouth,Massachusetts,USA,United States,183.0,95.0,NaN
116580,117975,Elizabeth Patrick,1985-03-02,Melbourne,Victoria,AUS,Australia,155.0,50.0,NaN
121749,123764,Jaele Patrick,1988-03-04,Lilydale,Victoria,AUS,Australia,164.0,59.0,NaN
122121,124176,Keith Ferguson,1979-09-07,Sale,Victoria,AUS,Australia,176.0,78.0,NaN

In [12]:
bios[bios["name"].str.contains("patrick",case=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
119,120,Patrick Wheatley,1899-01-20,Vryheid,KwaZulu-Natal,RSA,Great Britain,NaN,NaN,1967-11-05
319,320,Patrick De Koning,1961-04-23,Dendermonde,Oost-Vlaanderen,BEL,Belgium,178.0,92.0,NaN
2115,2125,Patrick Jopp,1962-01-08,NaN,NaN,NaN,Switzerland,176.0,67.0,NaN
2454,2465,Patrick Birocheau,1955-09-23,Béjaïa,Béjaïa,ALG,France,177.0,72.0,NaN
...,...,...,...,...,...,...,...,...,...,...
143975,147633,Patrick Chinyemba,2001-01-03,NaN,NaN,NaN,Zambia,NaN,NaN,NaN
144172,147850,Patrick Jakob,1996-10-17,Sankt Johann in Tirol,Tirol,AUT,Austria,NaN,NaN,NaN
144547,148239,Patrick Galbraith,1986-03-11,Haderslev,Syddanmark,DEN,Denmark,NaN,NaN,NaN
144565,148257,Patrick Russell,1993-01-04,Gentofte,Hovedstaden,DEN,Denmark,186.0,93.0,NaN
145435,149158,Patrick Gasienica,1998-11-28,McHenry,Illinois,USA,United States,NaN,NaN,2023-06-12

In [ ]:
#1. Find athletes born in cities that start with a vowel:
import pandas as pd
bios=pd.read_csv("../data/bios.csv")
vowel_cities=bios[bios['born_city'].str.contains(r'^[AEIOUaeiou]',na=False)]
vowel_cities

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,NaN
10,11,"Élie, Comte de Lastours",1874-08-12,Orgeval,Yvelines,FRA,France,NaN,NaN,1932-11-18
17,18,Jean-Philippe Gatien,1968-10-16,Alès,Gard,FRA,France,178.0,73.0,NaN
35,36,Étienne Thobois,1967-09-20,Amiens,Somme,FRA,France,186.0,78.0,NaN
40,41,Julie Bradbury,1967-02-12,Oxford,England,GBR,Great Britain,175.0,64.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145395,149118,Abbey Murphy,2002-04-14,Evergreen Park,Illinois,USA,United States,NaN,NaN,NaN
145398,149121,Grace Zumwinkle,1999-04-23,Excelsior,Minnesota,USA,United States,NaN,NaN,NaN
145405,149128,Brian Cooper,1993-11-01,Anchorage,Alaska,USA,United States,NaN,NaN,NaN
145418,149141,Nick Perbix,1998-06-15,Elk River,Minnesota,USA,United States,NaN,NaN,NaN
145427,149150,Jared Shumate,1999-03-06,Atlanta,Georgia,USA,United States,NaN,NaN,NaN

In [6]:
#2. Find athletes with names that contian exactly 2 vowels:
two_vowels=bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*$',na=False)]
two_vowels

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
12,13,J. Defert,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN
30,31,André Prévost,1875-02-28,Paris VIIIe,Paris,FRA,France,NaN,NaN,1951-11-22
68,69,Sam Smith,1971-11-27,Epping,England,GBR,Great Britain,175.0,62.0,NaN
70,71,Ruth Winch,1870-08-25,Ryde,England,GBR,Great Britain,NaN,NaN,1952-01-09
73,74,Sky Andrew,1962-03-31,Newham,England,GBR,Great Britain,185.0,78.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145340,149062,A. J. Hurt,2000-12-05,Truckee,California,USA,United States,NaN,NaN,NaN
145349,149072,Kris Horn,1994-04-25,Weymouth,Massachusetts,USA,United States,NaN,NaN,NaN
145382,149105,Dylan Walczyk,1993-06-25,Rochester,New York,USA,United States,NaN,NaN,NaN
145452,149177,Radek Rýdl,2001-07-15,Jilemnice,Liberecký kraj,CZE,Czechia,NaN,NaN,NaN
145483,149210,Feng He,2004-03-31,NaN,NaN,NaN,People's Republic of China,NaN,NaN,NaN

In [8]:
#3. Find athletes with names that have repeated consecutive letters (e.g. "Aaron", "Emmett"):
repeated_letters=bios[bios['name'].str.contains(r'(.)\1',na=False)]
repeated_letters

C:\Users\HP\AppData\Local\Temp\ipykernel_12076\2014085642.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  repeated_letters=bios[bios['name'].str.contains(r'(.)\1',na=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
9,10,Guy de la Chapelle,1868-07-16,Farges-Allichamps,Cher,FRA,France,NaN,NaN,1923-08-27
13,14,Étienne Durand,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN
17,18,Jean-Philippe Gatien,1968-10-16,Alès,Gard,FRA,France,178.0,73.0,NaN
20,21,Pierre Hirsch,1900-11-08,Paris Ie,Paris,FRA,France,NaN,NaN,1942-04-19
28,29,Albert Lippmann,NaN,NaN,NaN,NaN,France,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
145474,149201,Nadine Hofstetter,1994-10-21,Romoos,Luzern,SUI,Switzerland,164.0,68.0,NaN
145488,149215,Shakeel John,2001-07-30,Mount Hope,Tunapuna-Piarco,TTO,Trinidad and Tobago,NaN,NaN,NaN
145491,149218,Matthew Wepke,1989-12-05,NaN,NaN,NaN,Jamaica,NaN,NaN,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [17]:
#4. Find athletes with names ending in 'son' or 'sen':
son_sen_names=bios[bios['name'].str.contains(r'son$|sen$',case=False,na=False)]
son_sen_names

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
37,38,Helen Aitchison,1881-12-06,Sunderland,England,GBR,Great Britain,NaN,NaN,1947-05-26
92,93,Anne Gibson,1968-10-26,Dumfries,Scotland,GBR,Great Britain,173.0,70.0,NaN
107,108,Anders Nielsen,1967-02-24,Cape Town,Western Cape,RSA,Great Britain,173.0,70.0,2010-07-29
113,114,Julian Robertson,1969-10-09,Peterborough,England,GBR,Great Britain,182.0,73.0,NaN
120,121,Chris Wilkinson,1970-01-05,Southampton,England,GBR,Great Britain,180.0,72.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145419,149142,Jake Sanderson,2002-07-08,Whitefish,Montana,USA,United States,NaN,NaN,NaN
145424,149147,Jonathan Gustafson,1997-03-05,Massena,New York,USA,United States,NaN,NaN,NaN
145441,149164,Casey Dawson,2000-08-02,Park City,Utah,USA,United States,NaN,NaN,NaN
145457,149183,Alix Wilkinson,2000-08-02,Mammoth Lakes,California,USA,United States,NaN,NaN,NaN
145461,149188,Kent Johnson,2002-10-18,Port Moody,British Columbia,CAN,Canada,185.0,75.0,NaN

In [20]:
#5. Find the names of athletes born in the year starting with "19":
bios[bios["born_date"].str.contains(r'^19',na=False)][["name","born_date"]]

                         name   born_date
1              Arnaud Boetsch  1969-04-01
5           Nicolas Chatelain  1970-01-13
6               Patrick Chila  1969-11-27
7                Henri Cochet  1901-12-14
14                Damien Éloi  1969-07-04
...                       ...         ...
145492  Carlos García-Ordóñez  1927-04-24
145493     Landysh Falyakhova  1998-08-31
145496    Valeriya Merkusheva  1999-09-20
145497        Yuliya Smirnova  1998-05-08
145499          Bill Phillips  1913-07-15

[130539 rows x 2 columns]

In [21]:
#5. Find the names of athletes born in the year starting with "19":
born_19xx=bios[bios["born_date"].str.contains(r'^19',na=False)]
born_19xx

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,NaN
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN
7,8,Henri Cochet,1901-12-14,Villeurbanne,Rhône,FRA,France,NaN,NaN,1987-04-02
14,15,Damien Éloi,1969-07-04,Vire,Calvados,FRA,France,165.0,58.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145492,149219,Carlos García-Ordóñez,1927-04-24,La Habana (Havana),Ciudad de La Habana,CUB,Cuba,NaN,NaN,2019-11-24
145493,149220,Landysh Falyakhova,1998-08-31,Dva Polya Artash,Respublika Tatarstan,RUS,ROC,NaN,NaN,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [28]:
#6. Find athletes with names that do not contain any vowels:
no_vowels=bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*$',na=False)]["name"]
no_vowels

3818              György Pál
3831            László Szűcs
5125                    Zézé
5764                    Bráz
6260             László Hódy
15165           Lê Văn Phươc
21621                   Céré
22252           Árpád Bárány
22367          László Széchy
25578            Kálmán Tóth
27325           Gündüz Kılıç
30192              Ödön Téry
31630                     SB
31975              Árpád Pál
33720            Lê Bả Thành
47828              Ödön Gróf
51321           Phạm Thị Phú
51333         Phạm Văn Thành
51334              Tô Văn Vệ
51337        Thương Ngọc Tơn
53757           György Bródy
53832            László Tóth
58134            László Bíró
58207           László Óváry
58239           Árpád Szántó
59919              Gürbüz Lü
60402            Phạm Văn Tý
61704             Pál Gömöry
70671             Mór Kóczán
78709           Trịnh Thị Bé
78713          Vũ Bích Hương
78715         Dương Đức Thủy
78721            Trần Văn Lý
79677                   Lévy
84255          László Csávás
94427                Pál Pók
104164         Đòàn Thị Cách
105554       Lê Văn Dương Lê
109905           Győző Török
110113                    Jô
113446          Vũ Thị Hương
115205         Mátyás Sáfrán
115995    Trần Thị Ngọc Trúc
116396    Đỗ Thị Ngân Thương
121963       Phạm Phước Hưng
122051               Lyn Byl
122463           Văn Ngọc Tú
129613             Hồ Thị Lý
Name: name, dtype: str

In [27]:
no_vowels=bios[~bios['name'].str.contains(r'[AEIOUaeiou]',na=False)]["name"]
no_vowels

3818              György Pál
3831            László Szűcs
5125                    Zézé
5764                    Bráz
6260             László Hódy
15165           Lê Văn Phươc
21621                   Céré
22252           Árpád Bárány
22367          László Széchy
25578            Kálmán Tóth
27325           Gündüz Kılıç
30192              Ödön Téry
31630                     SB
31975              Árpád Pál
33720            Lê Bả Thành
47828              Ödön Gróf
51321           Phạm Thị Phú
51333         Phạm Văn Thành
51334              Tô Văn Vệ
51337        Thương Ngọc Tơn
53757           György Bródy
53832            László Tóth
58134            László Bíró
58207           László Óváry
58239           Árpád Szántó
59919              Gürbüz Lü
60402            Phạm Văn Tý
61704             Pál Gömöry
70671             Mór Kóczán
78709           Trịnh Thị Bé
78713          Vũ Bích Hương
78715         Dương Đức Thủy
78721            Trần Văn Lý
79677                   Lévy
84255          László Csávás
94427                Pál Pók
104164         Đòàn Thị Cách
105554       Lê Văn Dương Lê
109905           Győző Török
110113                    Jô
113446          Vũ Thị Hương
115205         Mátyás Sáfrán
115995    Trần Thị Ngọc Trúc
116396    Đỗ Thị Ngân Thương
121963       Phạm Phước Hưng
122051               Lyn Byl
122463           Văn Ngọc Tú
129613             Hồ Thị Lý
Name: name, dtype: str

In [33]:
#7. Find athletes whose names contain a hyphen or an apostrophe:
hyphen_apostrophe=bios[bios['name'].str.contains(r"[-']",na=False)]
hyphen_apostrophe

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
15,16,Adrien Fauchier-Magnan,1873-11-19,Paris VIIIe,Paris,FRA,France,NaN,NaN,1965-08-06
17,18,Jean-Philippe Gatien,1968-10-16,Alès,Gard,FRA,France,178.0,73.0,NaN
33,34,Jean-Pierre Samazeuilh,1891-01-17,Bordeaux,Gironde,FRA,France,NaN,NaN,1965-04-13
36,37,Pierre Verdé-Delisle,1877-05-16,Trie-la-Ville,Oise,FRA,France,NaN,NaN,1960-07-18
...,...,...,...,...,...,...,...,...,...,...
145385,149108,Ashley Cain-Gribble,1995-07-22,Dallas,Texas,USA,United States,NaN,NaN,NaN
145388,149111,Jean-Luc Baker,1993-10-07,Burnley,England,GBR,United States,NaN,NaN,NaN
145470,149197,Lee Chae-Eun,2006-04-11,NaN,NaN,NaN,Republic of Korea,NaN,NaN,NaN
145490,149217,Sin Ye-Chan,1995-06-13,NaN,NaN,NaN,Republic of Korea,NaN,NaN,NaN
145492,149219,Carlos García-Ordóñez,1927-04-24,La Habana (Havana),Ciudad de La Habana,CUB,Cuba,NaN,NaN,2019-11-24

In [37]:
#8. Find athletes with names that start and end with the same letter:
start_end_same=bios[bios['name'].str.contains(r'^(.).*\1$',na=False)]
start_end_same

C:\Users\HP\AppData\Local\Temp\ipykernel_12076\737600662.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  start_end_same=bios[bios['name'].str.contains(r'^(.).*\1$',na=False)]

Empty DataFrame
Columns: [athlete_id, name, born_date, born_city, born_region, born_country, NOC, height_cm, weight_kg, died_date]
Index: []

In [38]:
#9. Find athletes with a born_city that has exactly 7 characters:
exactly_7_chars=bios[bios['born_city'].str.contains(r'^.{7}$',na=False)]
exactly_7_chars

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
10,11,"Élie, Comte de Lastours",1874-08-12,Orgeval,Yvelines,FRA,France,NaN,NaN,1932-11-18
25,26,Henri Leconte,1963-07-04,Lillers,Pas-de-Calais,FRA,France,184.0,78.0,NaN
41,42,Gillian Clark,1961-09-02,Baghdad,Baghdad,IRQ,Great Britain,176.0,68.0,NaN
47,48,Sara Gomer,1964-05-13,Torquay,England,GBR,Great Britain,190.0,85.0,NaN
48,49,Alison Gordon,1962-12-31,Reading,England,GBR,Great Britain,175.0,68.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145446,149169,Corinne Stoddard,2001-08-15,Seattle,Washington,USA,United States,NaN,NaN,NaN
145454,149180,Anna Hoffmann,2000-03-28,Madison,Wisconsin,USA,United States,NaN,NaN,NaN
145456,149182,Sophie Sorschag,1998-11-14,Villach,Kärnten,AUT,Austria,NaN,NaN,NaN
145459,149186,Roberts Mamčics,1995-04-06,Liepāja,Liepāja,LAT,Latvia,196.0,105.0,NaN
145494,149221,George Wright,1890-07-21,Toronto,Ontario,CAN,Canada,183.0,NaN,1973-01-28

In [43]:
#10. Find athletes with names contianing 3 or more vowels:
three_or_more_vowels=bios[bios['name'].str.contains(r'([AEIOUaeiou].*){3,}',na=False)]
three_or_more_vowels

C:\Users\HP\AppData\Local\Temp\ipykernel_12076\3819360636.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  three_or_more_vowels=bios[bios['name'].str.contains(r'([AEIOUaeiou].*){3,}',na=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [45]:
# Use of isin() to filter
bios[bios['born_country'].isin(['USA','FRA','GBR'])]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145454,149180,Anna Hoffmann,2000-03-28,Madison,Wisconsin,USA,United States,NaN,NaN,NaN
145457,149183,Alix Wilkinson,2000-08-02,Mammoth Lakes,California,USA,United States,NaN,NaN,NaN
145467,149194,Elisa Nakab,1998-05-08,Briançon,Hautes-Alpes,FRA,Italy,NaN,NaN,NaN
145468,149195,Justin Abdelkader,1987-02-25,Muskegon,Michigan,USA,United States,187.0,97.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18

In [50]:
# Use of isin() to filter using multiple conditions
bios[bios['born_country'].isin(['USA','FRA','GBR']) & bios['name'].str.startswith("Keith",na=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
3505,3517,Keith Wallace,1961-03-29,Preston,England,GBR,Great Britain,165.0,51.0,1999-12-31
12053,12118,Keith Hervey,1898-11-03,Fulham,England,GBR,Great Britain,NaN,NaN,1973-02-22
14577,14674,Keith Harrison,1933-03-28,Birmingham,England,GBR,Great Britain,NaN,NaN,NaN
16166,16281,Keith Reynolds,1963-12-25,Solihull,England,GBR,Great Britain,173.0,68.0,NaN
18734,18862,Keith Sinclair,1945-06-26,Sunderland,England,GBR,Great Britain,190.0,79.0,NaN
29897,30123,Keith Langley,1961-06-03,Aldershot,England,GBR,Great Britain,173.0,70.0,NaN
34011,34275,Keith Remfry,1947-11-17,Ealing,England,GBR,Great Britain,193.0,114.0,2015-09-16
46885,47234,Keith Collin,1937-01-18,Marylebone,England,GBR,Great Britain,168.0,63.0,1991-03-06
50929,51288,Keith Carter,1924-08-30,Akron,Ohio,USA,United States,NaN,NaN,2013-05-03
51185,51544,Keith Russell,1948-01-15,Mesa,Arizona,USA,United States,188.0,73.0,NaN
52913,53288,Keith Erickson,1944-04-19,San Francisco,California,USA,United States,196.0,86.0,NaN
55317,55712,Keith Boxell,1958-05-06,Clapham,England,GBR,Great Britain,170.0,87.0,NaN
57818,58226,Keith Peache,1947-08-10,Lewisham,England,GBR,Great Britain,180.0,98.0,NaN
61748,62202,Keith Grogono,1912-11-04,Stratford,England,GBR,Great Britain,NaN,NaN,1999-03-22
62620,63086,Keith Musto,1936-01-12,Rochford,England,GBR,Great Britain,174.0,72.0,NaN
62678,63144,Keith Notary,1960-01-22,Merritt Island,Florida,USA,United States,170.0,66.0,NaN
68324,68841,Keith Angus,1943-04-05,Sheffield,England,GBR,Great Britain,170.0,59.0,NaN
68472,68989,Keith Cullen,1972-06-13,Ilford,England,GBR,Great Britain,177.0,61.0,NaN
68997,69514,Keith Stock,1957-03-18,Woolwich,England,GBR,Great Britain,176.0,73.0,NaN
77550,78141,Keith Brantly,1962-05-23,Scott Air Force Base,Illinois,USA,United States,180.0,64.0,NaN
84097,84766,Keith Christiansen,1944-07-14,International Falls,Minnesota,USA,United States,165.0,69.0,2018-11-05
94646,95413,Keith Meyer,1938-06-20,Geneva,Illinois,USA,United States,NaN,NaN,2010-07-25
95267,96037,Keith Oliver,1947-10-27,Liverpool,England,GBR,Great Britain,172.0,68.0,NaN
96452,97229,Keith Schellenberg,1929-03-13,Middlesbrough,England,GBR,Great Britain,NaN,NaN,2019-10-28
97499,98286,Keith Tkachuk,1972-03-28,Melrose,Massachusetts,USA,United States,188.0,102.0,NaN
98068,98860,Keith Wegeman,1929-08-28,Denver,Colorado,USA,United States,NaN,NaN,1974-08-22
99921,100722,Keith Carney,1970-02-03,Providence,Rhode Island,USA,United States,188.0,93.0,NaN
115973,117348,Keith Sanderson,1975-02-02,Plymouth,Massachusetts,USA,United States,183.0,95.0,NaN